<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>
<h1>Seus Pedidos</h1>
<table border="1">
    <tr>
        <th width="120px">Pedido:</th>
        <th>VALOR</th>
    </tr>
    <% pedidos.forEach(function(carrinho){ %>
        <tr>
            <td><%= carrinho.numPedido %></td>
            <td><%= carrinho.valor %></td>
        </tr>
    <% }) %>
</table>
<%- include ('partials/footer.ejs') %>